.MobileBannerType1{
    width: 29rem;
    height: 58rem;
    overflow: hidden;
}
.MobileBannerType1 img {
    height: 100%;
    object-fit: cover;
}
.MobileBannerType1 .top{
    width: 100%;
    height: 29rem;
    background-color: var(--banner-img-bg);
    border: .3rem solid var(--primary-black);
    border-bottom: none;
}
.MobileBannerType1 .btm{
    width: 100%;
    height: 29rem;
    display: flex;
    background-color: var(--banner-img-bg);
    border: .6rem solid var(--white);
}
.MobileBannerType1 .btm .left{
    height: 29rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.MobileBannerType1 .btm .left .left_top,
.MobileBannerType1 .btm .left .left_btm{
    background-color: var(--banner-img-bg);
    width: 100%;
    height: 14.5rem;
}
.MobileBannerType1 .btm .left .left_top{
    border-bottom: .6rem solid var(--white);
}
.MobileBannerType1 .btm .right{
    height: 29rem;
    background-color: var(--banner-img-bg);
    width: 50%;
    border-left: .6rem solid var(--white);
}