.WebBannerTypePrimary .left,
.WebBannerTypePrimary .right,
.WebBannerTypePrimary .center {
  min-width: 33.33%;
  width: 33.33%;
  height: 100%;
}
.WebBannerTypePrimary .center {
  border-left: 0.6rem solid var(--white);
  border-right: 0.6rem solid var(--white);
  display: flex;
  flex-direction: column;
}
.WebBannerTypePrimary .center .centerTop,
.WebBannerTypePrimary .center .centerBtm {
  height: 22%;
  overflow: hidden;
}
.WebBannerTypePrimary .center .centerTop {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.WebBannerTypePrimary .center .centerBtm {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.WebBannerTypePrimary .center .centerCenter {
  height: 56%;
  border-top: 0.6rem  solid var(--white);
  border-bottom: 0.6rem  solid var(--white);
}
